.runners-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  letter-spacing: 2px;

  margin-top: 3px;
  padding: 5px 0;

  border-bottom: 2px solid var(--spacer-color);
}

.runner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 3px;
}

.runner-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 37px;
}

.runner-row.name {
  position: relative;
}

.runner-row.twitch {
  position: absolute;
}

.runner-icon-multi {
  position: relative;
  height: 28px;
  width: 28px;
}

.runner-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
}

.runner-icon.runner-light {
  background-image: url('../assets/running-solid-light.svg');
  opacity: var(--night-element-opacity);
}

.runner-icon.runner-dark {
  background-image: url('../assets/running-solid-dark.svg');
  opacity: var(--day-element-opacity);
}

.runner-icon.twitch-light {
  background-image: url('../assets/twitch-brands-light.svg');
  opacity: var(--night-element-opacity);
}

.runner-icon.twitch-dark {
  background-image: url('../assets/twitch-brands-dark.svg');
  opacity: var(--day-element-opacity);
}

.runner-label {
  text-align: center;
  font-size: 28px;
  margin-bottom: 2px; /* required to center it despite the flexbox */
}

.runner-pronouns {
  font-size: 14px;
  text-align: right;
  min-width: 30px;
  letter-spacing: 1px;
}
