.video-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.video-special-effect-multi {
  position: relative;
  width: 450px;
  height: 120px;
}

.video-logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-logo.special-effect-orange {
  background-image: url('../assets/specialeffect-proud-orange.png');
  opacity: var(--day-element-opacity);
}

.video-logo.special-effect-white {
  background-image: url('../assets/specialeffect-proud-white.png');
  opacity: var(--night-element-opacity);
}

.video-greenscreen {
  width: 1280px;
  height: 720px;
  background-color: var(--chroma-green);
}

.video-v-space {
  height: 80%;
  margin: 0 20px;
  min-width: 3px;
  background-color: var(--spacer-color);
}

.video-up-next-container {
  font-size: 40px;

  height: 80px;
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;

  border: 1px solid var(--spacer-color);
  border-radius: 10px;
}

.video-up-next-details {
  font-size: 20px;
  flex-grow: 1;
  text-align: right;
}
