.break-container {
  width: 100%;
  height: 100%;

  position: relative;

  padding: 50px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.break-v-space {
  height: 100%;
  min-width: 2px;
  background-color: var(--spacer-color);
}

.break-h-space {
  width: 90%;
  min-height: 2px;
  background-color: var(--spacer-color);
}

.break-left {
  height: 100%;
  width: 600px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.break-logo-multi {
  position: relative;
  width: 100%;
}

.break-logo-multi.wasd {
  height: 300px;
}

.break-logo-multi.special-effect {
  height: 155px;
}

.break-logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.break-logo.wasd-light {
  background-image: url('../assets/wasd-keys-summer-light.svg');
  opacity: var(--night-element-opacity);
}

.break-logo.wasd-dark {
  background-image: url('../assets/wasd-keys-summer-dark.svg');
  opacity: var(--day-element-opacity);
}

.break-logo.special-effect-white {
  background-image: url('../assets/specialeffect-proud-white.png');
  opacity: var(--night-element-opacity);
}

.break-logo.special-effect-orange {
  background-image: url('../assets/specialeffect-proud-orange.png');
  opacity: var(--day-element-opacity);
}

.countdown-container {
  font-family: 'Montserrat';
  letter-spacing: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-label {
  font-size: 30px;
}

.countdown-time {
  font-size: 64px;
}

.break-right {
  letter-spacing: 2px;

  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-right-label {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.break-next-run-container {
  width: 90%;
  min-height: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.break-next-run-container > * {
  z-index: 1;
}

.break-next-run-bg {
  background-color: var(--text-color-invert);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.break-next-run-game {
  font-size: 40px;
}

.break-next-run-details {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

.break-next-run-details > span {
  padding: 0 10px;
}

.break-multibox {
  width: 100%;
  flex: 1;
  position: relative;
}

.break-multibox-item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.break-later-on {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  /*
   * Maybe don't have fade?
  mask-image: linear-gradient(to bottom, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent);
  */
}

.break-incentives-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.break-incentives-list {
  padding-top: 15px;
  overflow: hidden;

  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*
   * Maybe don't have fade?
  background-image: linear-gradient(to bottom, black 90%, transparent);
  mask-image: linear-gradient(to bottom, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent);
  */
}

.break-incentive-container {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
}

.break-incentive-game {
  font-size: 26px;
}

.break-incentive-name {
  font-size: 30px;
  margin-bottom: 3px;
}

.break-incentive-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: solid 2px var(--spacer-color);
  border-radius: 10px;
  width: 100%;

  position: relative;
  overflow: hidden;
  padding: 5px 0;
}

.break-incentive-progress {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--text-color-invert);
  width: 0%;
}

.break-incentive-amount {
  position: relative;
  font-size: 26px;
}

.break-day-night-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.break-day-night-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 42px;
  flex-grow: 1;
}

.break-day-night-label {
  margin: 0 150px;
}

.break-day-night-amount {
  margin: 0 240px;
}

.break-day-night-multi-image {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 75px;
}

.break-day-night-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.break-day-night-image.wasd-day-lightmode {
  background-image: url('../assets/wasd-w-day-lightmode.png');
  opacity: var(--night-element-opacity);
}

.break-day-night-image.wasd-day-darkmode {
  background-image: url('../assets/wasd-w-day-darkmode.png');
  opacity: var(--day-element-opacity);
}

.break-day-night-image.wasd-night-lightmode {
  background-image: url('../assets/wasd-w-night-lightmode.png');
  opacity: var(--night-element-opacity);
}

.break-day-night-image.wasd-night-darkmode {
  background-image: url('../assets/wasd-w-night-darkmode.png');
  opacity: var(--day-element-opacity);
}

