.game {
  position: absolute;
  top: 0px; right: 0px;

  width: 1530px;
  height: 860px;

  border-radius: 0px 0px 0px 5px;
  border: 5px solid var(--spacer-color);
  border-top: none;
  border-right: none;

  background-color: var(--chroma-green);
}

.left {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%;
  width: 390px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cam {
  width: 100%;
  min-height: 360px;
  border-bottom: 5px solid var(--spacer-color);
  background-color: var(--chroma-green);
}

.logos {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
}

.logo-multi {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo.wasd {
  background-image: url('../assets/wasd_standalone.svg');
  width: 390px;
}

.logo.special-effect {
  background-image: url('../assets/specialeffect-proud-orange.png');
  width: 350px;
}

.bottom {
  letter-spacing: 1px;

  position: absolute;
  bottom: 0px; right: 0px;
  width: 1530px; height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88%;
  background-repeat: no-repeat;
}

.run-details {
  flex-grow: 1; /* grow to available size in parent */
  border-left: 2px solid var(--spacer-color);
  border-right: 2px solid var(--spacer-color);
  margin-right: 10px;
  background-image: url('../assets/game-info-capsule.png');
  color: white;
}

.run-game {
  font-size: 56px;
}

.run-details-row {
  font-size: 26px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.run-details-row div {
  margin: 0 10px;
}

.run-timing {
  width: 480px;
  height: 88%;
  color: white;
  background-image: url('../assets/timer-capsule.png');
}

.estimate {
  font-size: 26px;
}
