.game {
  position: absolute;
  top: 0px; right: 0px;

  width: 1346px;
  height: 100%;

  border-left: 5px solid var(--spacer-color);
  background-color: var(--chroma-green);
}

.left {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%;
  width: 574px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cam {
  width: 100%;
  min-height: 330px;
  border-bottom: 5px solid var(--spacer-color);
  border-top: 5px solid var(--spacer-color);
  background-color: var(--chroma-green);
}

.run-info {
  width: 85%;
  height: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
  margin-bottom: 5px;

  background-image: url('../assets/game-info-capsule-short.png');
  background-repeat: no-repeat;
  color: white;
}

.run-game {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 5px;
}

.run-details {
  padding: 0 10px;
  text-align: center;
}

.run-spacer {
  width: 70%;
  height: 2px;
  background-color: var(--spacer-color);
}

.run-timing {
  width: 85%;
  height: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
  color: white;
  background-image: url('../assets/timer-capsule.png');
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 10px;

}

.run-estimate {
  font-size: 18px;
}

.logos {
  width: 100%;
  flex-grow: 1;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-multi {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo.wasd-light {
  height: 80%;
  background-image: url('../assets/wasd_standalone.svg');
  opacity: var(--night-element-opacity);
}

.logo.wasd-dark {
  height: 80%;
  background-image: url('../assets/wasd_standalone.svg');
  opacity: var(--day-element-opacity);
}

.logo.special-effect-white {
  height: 100%;
  width: 90%;
  background-image: url('../assets/specialeffect-proud-white.png');
  opacity: var(--night-element-opacity);
}

.logo.special-effect-orange {
  height: 100%;
  width: 90%;
  background-image: url('../assets/specialeffect-proud-white.png');
  opacity: var(--day-element-opacity);
}

/* --- BEGIN OVERRIDES --- */
.timer-text {
  font-size: 64px !important;
}

.runners-container {
  width: 75% !important;
}

.couch-container {
  width: 75% !important;
}
/* ---- END OVERRIDE ---- */

