@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Bold.ttf');
}

:root {
  --wasd-white: #FFFFFF;
  --wasd-white-muted: #909090;
  --wasd-dark: #222222;
  --wasd-dark-muted: #444444;

  --chroma-green: #00FF00;

  --text-color: var(--wasd-white);
  --text-color-invert: var(--wasd-dark);
  --spacer-color: var(--wasd-white-muted);
  --day-element-opacity: 0;
  --night-element-opacity: 1;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  /* Flexbox memes to center the body even when zoomed out */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: var(--text-color);
  font-family: 'Montserrat';
  text-shadow: -3px 3px 0 #ff3000a0;
}

.graphic {
  overflow: hidden;
  position: relative;
}

.graphic.overlay {
  width: 1920px;
  height: 1010px;
}

.graphic.fullscreen {
  width: 1920px;
  height: 1080px;
}
