.beach {
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.beach.night-sky {
  background-image: url('../assets/simple-background-dark.png');
}

.beach.night-foreground {
  background-image: url('../assets/simple-background-dark.png');
}

.beach.day-sky {
  background-image: url('../assets/simple-background-light.png');
  opacity: 0;
}

.beach.day-foreground {
  background-image: url('../assets/simple-background-light.png');
  opacity: 0;
}

