.bar {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 1920px;
  height: 70px;
  position: relative;

  font-size: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-top: 1px solid var(--spacer-color);

  padding-right: 15px;
  padding-left: 5px;
}

.bar > * {
  z-index: 1;
}

.bar-frost {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: var(--day-element-opacity);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.bar-logo-wasd-multi {
  width: 65px;
  height: 65px;
  position: relative;
  margin-top: 4px;
}

.bar-logo-wasd {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-logo-wasd.summer-day {
  background-image: url('../assets/wasd-w-day-lightmode.png');
  opacity: var(--night-element-opacity);
}

.bar-logo-wasd.summer-night {
  background-image: url('../assets/wasd-w-night-darkmode.png');
  opacity: var(--day-element-opacity);
}

.bar-v-space {
  width: 2px;
  height: 70%;
  border-radius: 2px;
  background-color: var(--spacer-color);
  margin: 0 15px;
}

.bar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar-name-event {
  margin-left: 10px;
}

.bar-donos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar-logo-special-effect-multi {
  height: 65px;
  width: 200px;
  position: relative;
  margin-top: 4px;
}

.bar-logo-special-effect {
  position: absolute;
  height: 65px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-logo-special-effect.white {
  background-image: url('../assets/specialeffect-proud-white.png');
  opacity: var(--night-element-opacity);
}

.bar-logo-special-effect.orange {
  background-image: url('../assets/specialeffect-proud-orange.png');
  opacity: var(--day-element-opacity);
}

.bar-dono-total {
  margin-left: 10px;
}

.cta {
  flex-grow: 1;
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta-text {
  position: absolute;
}
