.problems-text {
  font-size: 50px;

  position: absolute;
  bottom: 360px;
  left: 50%;
  transform: translate(-50%, 0);
}

.problems-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.problems-image.notlikethis {
  width: 200px;
  height: 200px;

  background-image: url('../assets/not_like_this.png');
}

.problems-image.wasd-light {
  width: 300px;
  height: 200px;

  background-image: url('../assets/wasd-keys-summer-light.svg');
  opacity: var(--night-element-opacity);
}

.problems-image.wasd-dark {
  width: 300px;
  height: 200px;

  background-image: url('../assets/wasd-keys-summer-dark.svg');
  opacity: var(--day-element-opacity);
}
